<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | admin
  body
    .wrapper.admin-wrapper
      .maincontent
        #app-root
          section.section-main
            .container
              header.header
                .header__logo
                  a.logo(href="#")
                    img.logo__link(src="../src/images/content/ва.png", alt="ВА")
                .header__menu
                  nav.nav
                    ul.nav__list
                      li.nav__item
                        a(href="#").nav__link



-
  